doctype html
header.text-center(style='height: 25px;padding: 0.8em;background-color: #34495E;margin-bottom: 1em;text-align: center;')
  .logo(style='max-width: 33.33%;')
    img(src='https://waycoolstorage.blob.core.windows.net/receivable/waycoolLogo.png', style='left: 12px;\
    position: absolute;top: 13px;transform: rotate(12deg);width: 3%;float: left;')
    p(style='color: white;font-family: Palatino;font-size: 1.2em; margin-top: 4px;')
      | Waycool Foods &amp; Products
      | Private Limited
.body(style='padding: 1em;margin-right: auto;margin-left: auto;max-width: 800px;color: #2C3E50;')
  h1(style='font-family: Palatino;font-size: 1.5em;') Dear #{name},
  p(style='color: #34495E;')
    | We are pleased to introduce Brand Management System- Brand Portal, to help you fully monitor and manage 
    br
    |  the Brand &amp; their respective Items and vendors.
  br
  p(style='color: #34495E;')
    | To access the portal kindly click the following URL: #{url} Enter the user id as #{email} &amp; 
    br
    |   password as 
    i #{password}
    |  . This is a randomly generated unique password and you would be required to change password immediately after login..
  br
  p
    | Please reach out at prasun.jaiswal@waycool.in or aakaankshaa.r@waycool.in in case of any difficulties while logging in.
  div(style='align: left')
    | Warm Regards, 
    br
    p(style='font-family: Palatino;font-size: 1.5em;')  Waycool Foods &amp; Products Private Limited
